<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">system</property>
		<property name="hibernate.connection.password">tiger</property>
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="com.mph.entity.Customer_Address"/>	
		<mapping class="com.mph.entity.Customer_Phoneno"/>	
		<mapping class="com.mph.entity.Customer"/>	
		<mapping class="com.mph.entity.Login"/>	
		<mapping class="com.mph.entity.Seller"/>
		<mapping class="com.mph.entity.Payment"/>
		<mapping class="com.mph.entity.Products"/>
		<mapping class="com.mph.entity.Cart"/>
		<mapping class="com.mph.entity.Orders"/>
		<mapping class="com.mph.dao.ProductsDao"/>
		<mapping class="com.mph.dao.ProductsDaoImpl"/>	
		<mapping class="com.mph.dao.CustomerController"/>	
		<mapping class="com.mph.dao.ProductsController"/>

		<mapping class="com.mph.dao.CartDao"/>
		<mapping class="com.mph.dao.CartDaoImpl"/>
		<mapping class="com.mph.service.CartServiceImpl"/>
		<mapping class="com.mph.controller.CartController"/>
		<mapping class="com.mph.dao.PaymentDao"/>
		<mapping class="com.mph.dao.PaymentDaoImpl"/>
		<mapping class="com.mph.service.PaymentService"/>
		<mapping class="com.mph.service.PaymentServiceImpl"/>
			
		
	</session-factory>
</hibernate-configuration>
